<html>
    <head>
        <title>Delete</title>
    </head>
    <body>
        {% block content %}
            <h1>Delete Contact</h1>
            <section style="width:25%; padding-left: 25px;">
            <form method="post">
                {% csrf_token %}
                Are you sure that you want to delete {{ object }}?
                <input class="btn btn-primary" type="submit" value="Delete">
                <a href="{% url 'index' %}">
                    <button type="button" class="btn btn-info">Show</button>
                </a>
            </form>
            </section>
        {% endblock %}
    </body>
</html>